/*Going to pseudocode here bc why not
Rock Paper Scissors
Display options to user
user clicks option
user option gets compared to the computer option
if user win, display win, if user lose, display lose
count user wins and computer wins (aka user losses)
when either gets to 5, end game
*/